.anc-wrapper{
	padding: 30px 0;
	background: #296c3c;
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23cfe3e7' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.ocd-wrapper{
	display: flex;
	align-items: center;
}
.ocd-wrapper img{
	max-width: 50px;
}
.numright span.count.percent {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-bottom: 6px;
    text-align: left;
}
.numright p {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
        margin: 0;
}
#counter span.percent:after {
    content: "+";
    display: inline-block;
}
.numright{
	margin-left: 20px;
}
.abt-into-wrapper{
	padding: 80px 0;
}
.abt-into-wrapper img{
	max-width: 100%;
}
.abt-into-wrapper h3{
	color: #ac0808;
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
}
.abt-into-wrapper p{
	color: #222;
	font-size: 15px;
	font-weight: 500;
	line-height: 32px;
	text-align: justify;
}
.abt-list-sec{
	background: #ac0808db;
	position: relative;
	padding: 60px 0;
}

.abt-list-sec ul li{
	margin: 10px 0;
}
.abt-list-sec ul li::marker{
	color: #0095da;
	width: 8px;
	height: 8px;
}
.abt-list-sec ul li a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.specilaities-class{
	width: 100%;
	height: auto;
}
.specialities_img{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ceo-msg-wrapper{
	padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 0px;
    position: relative;
}
.ceo-img img{
	position: absolute;
	bottom: 0;
	max-width: 85%;
	left: 30px;
}
.ceo-img{
	position: relative;
}
.ceo-img:before{
	content: "";
	display: block;
	background: #ffcb08;
	width: 240px;
	height: 100%;
}
.ceo-msg-wrapper:after {
    content: "";
    background: #ffcb08;
    display: inline-block;
    position: absolute;
    top: -40px;
    left: 0%;
    width: 4px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.dr_details{
	padding: 90px 0px;
}
.vmv-wrapper{
	background: #FFFFFF;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	height: 100%;
	position: relative;
}
.vmv-wrapper:before {
    content: "";
    background: #ffcb08;
    width: 75px;
    height: 6px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 15px;
}
.vmv-wrapper img{
	    max-width: 80px;
    margin-top: -61px;
    margin-bottom: 25px;
}
.vmv-wrapper h4{
	color: #ac0808;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 10px;
}
.vmv-wrapper p{
	color: #282828;
	font-size: 13px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 20px;
}
.get_in_touch {
    background-color: #087216b8;
}
.btn-style1::after {
    content: "";
    background: #b93132;
	color: #fff;
}
.slide_from_left:hover{
	color: #fff;
}
.dr_heading span{
	font-size: 14px;
}
.dr_details p{
	text-align: justify;
}
.dr_details .row{
	justify-content: center;
}
.dr_details .col-md-2{
	display: flex;
	justify-content: center;
}
.vmv-wrapper ul li{
	color: #282828;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: 0;
}
.vission-mission-sec{
	padding: 100px 0;
}
.overvalue_sec{
	padding: 80px 0px 40px;
}
.health_update {
	padding: 10px 0px 40px;
}
.overvalue_sec h4{
	color: #383838;
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}
.overvalue_sec p{
	    color: #222;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
}

@media(max-width: 991.98px){
	.numright {
    margin-left: 10px;
}
.numright span.count.percent{
	    font-size: 18px;
}
.numright p {
    font-size: 10px;
 }
 .ocd-wrapper img {
    max-width: 40px;
}
}

@media(max-width:  767.98px){
	.anc-wrapper {
    padding: 1px 0 10px;
}
.anc-wrapper .col-md-3{
	width: 50%;
}
.ocd-wrapper img {
    margin-right: 0px;
}
.ocd-wrapper{
    margin-bottom: 20px;
}
.abt-into-wrapper img{
	margin-bottom: 20px;
}
.abt-list-sec {
    padding: 30px 0;
}
.vission-mission-sec {
    padding: 70px 0 0px;
}
.overvalue_sec {
    padding: 40px 0;
}
}

@media(max-width: 575.98px){
	.abt-into-wrapper {
    padding: 40px 0;
}
.abt-into-wrapper h3{
	font-size: 21px;
}
.dr_details .col-md-3{
	display: flex;
	align-items: center;
	justify-content: center;
}
.dr_heading{
	text-align: center;
}
.dr_details h5{
	text-align: center;
}
.ceo-img:before{
	    position: absolute;
}
.ceo-img img{
	position: relative;
}
.vmv-wrapper{
	height: auto;
	margin-bottom: 66px;
}
}

